@import "./reset.scss";
@import "./_fonts";
@import "../components/brands/brands.scss";
@import "../components/header/header.scss";
@import "../components/service/service.scss";
@import "../components/about/about.scss";
@import "../components/technics/technics.scss";
@import "../components/menu/menu.scss";
@import "../components/price/price.scss";
@import "../components/footer/footer.scss";

/*-----Base styles -----*/

$main-bg: #F8F8F8;
$main-font: 'TT Lakes';

html, body, .layout {
  height: 100vh;
  min-height: 100vh;
}

body{
    background: $main-bg;
    font-family: $main-font;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h1{
    font-size: 28px;
    letter-spacing: -0.6px;
    line-height: 40px;
}



@media (max-width:767.98px){
    body{
        gap: 16px;
}
    .main{
        padding-top: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1119px){
    .main{
        gap:32px;
}
    body{
        gap: 24px;
}
}

@media (min-width:1119px){
    .main{
        padding-top: 42px;
}
}

@media (min-width: 1120px) {
  .layout {
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 100vh;
  }
  .burger-wrapper {
    position: relative;
    width: 320px;
    min-height: 100%;
    height: 100vh;
    background: #fff;
    z-index: 1001;
    overflow-y: auto;
  }
  .main {
    width: 100%;
    padding-top: 42px;
    box-sizing: border-box;
  }
}

@media (max-width: 1119px) {
  .layout {
    display: block;
  }
  .burger-wrapper {
    position: fixed;
    left: 0;
    top: 0;
  }
  .main {
    width: 100%;
  }
}