/*-----About section -----*/


//переменные
$about-gap-mobile: 16px; 
$about-gap-tablet: 48px;
$about-gap-desktop: 43px;

.about {
    &__text{
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &__read-more-text:hover{
        opacity: 0.5;
    }
    &__read-more{
        display: flex;
        flex-direction: row;
        gap: 8px;
        & p{
            font-family: 'TT Lakes';
            font-weight: 500;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__hidden-text{
        display: none;
        transition: all 0.3s;
    }
    &__hidden-text.active {
        display: block;
    }

@media (max-width:767.98px){
    &__paragraph.about__paragraph_type_second, &__paragraph_type_third {
        display: none;
    }
    &__text{
        display: flex;
        flex-direction: column;
        gap:16px;
    }
    & {
        display: flex;
        flex-direction: column;
        gap: $about-gap-mobile;
    }
    &-image__office{
        width: 100%;
        display: flex;
    }
    &__content{
        padding: 0 16px;
    }
    &__paragraph_type_second.active,
    &__paragraph_type_third.active {
        display: block;
    }
  }

@media (min-width: 768px) and (max-width: 1119px) {
    & {
        display: flex;
        flex-direction: row;
        gap: $about-gap-tablet;
        padding: 0 24px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__paragraph.about__paragraph_type_second{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: calc(2em * 1.4);
        line-height: 1.4;
        text-overflow: ellipsis;
    }
    &__paragraph_type_second.active {
        display: block;
        -webkit-line-clamp: unset;
        max-height: none;
        overflow: visible;
    }
    &__paragraph_type_third {
        display: none;
    }
    &__paragraph_type_third.active {
        display: block;
    }
}

@media (min-width:1119px){
     & {
        display: flex;
        flex-direction: row;
        gap: $about-gap-desktop;
        padding: 0 32px 0 32px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        gap: 20px;
        line-height:20px;
    }
    &-image img{
        max-width: auto;
        height: auto;
    }
    &__paragraph_type_second {
        display: block;
        -webkit-line-clamp: unset;
        max-height: none;
        overflow: visible;
    }
    &__paragraph_type_third {
        display: none;
    }
    &__paragraph_type_third.active {
        display: block;
    }
  }
}