
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: rgba(126, 126, 130, 1);
    gap: 16px;
    padding: 40px 0 19px 0;
}