.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: rgba(126, 126, 130, 1);
    gap: 16px;
    padding-top: 16px;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 0;
    padding: 32px 24px 24px 24px;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }
  .footer__privacy {
    align-self: center;
    text-align: center;
    min-width: 200px;
  }
  .footer__disclaimer {
    align-self: flex-end;
    text-align: right;
    max-width: 213px;
  }
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer__privacy,
.footer__disclaimer {
    margin: 0;
}
@media (min-width: 1119px) {
  .footer__dev{ 
    width: max-content;
}
  .footer__disclaimer{
    width: 330px;
  }
  .footer__privacy{
    display: contents;
  }
}

@media (min-width: 1440px) {
  .footer__disclaimer{
    width: 330px;
  }
}

@media (max-width: 768px){
  .footer__disclaimer{
    padding-bottom: 19px;
  }
  .footer-container{
    padding-top: 36px;
  }
}

@media (min-width: 768px)and(max-width: 1119px){
  .footer__privacy{
    display: flex;
    align-self: flex-start;
  }
}