.technics-container{
    display: flex;
    flex-direction: column;
    gap: 24px;

     &__header{  
        background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(255, 255, 255, 1));
    }

    & h2{
            font-family: 'TT Lakes';
            font-weight: 400;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: rgba(126, 126, 130, 1);
    }
    
    &__slide.swiper-slide{
        height: 160px;
        padding: 16px;
        min-width: 240px;
    }

    &__show-all{
        padding-left: 32px;
        display: flex;
        flex-direction: row;
        gap: 17.25px;
    }

    &__type{
        display: flex;
        align-self: flex-start;
        font-weight: 500;
    }
    &__action{
        margin-top: auto;
        align-self: flex-end;
    }

@media (max-width:767.98px){
   &__header{
        padding: 16px 16px;
        height: 80px;
        display: flex;
        align-items: center;
    }
    &__show-all {
        display: none;
    }
    &__slider {
        position: relative;
        overflow: hidden;
    }
    &__slider::after { /* градиент справа на свайпере */
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
        z-index: 10;
    }
}
    
@media (min-width:1119px){
    &__header{
        padding: 15px 0 16px 32px;
        height: 56px;
    }    
    &__slider .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, 240px);
        gap: 16px 35px;
        padding: 0 24px 0 24px;
    }
}
@media (min-width: 768px) and (max-width: 1119px) {
    &__header{
        padding: 16px 0 0px 24px;
        height: 56px;
        display: flex;
        align-items: center;   /* Центрирует по вертикали */
    }
  }
}






